{% extends "base.html" %}

{% block title %}Create Post - Flaskblog-lite{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Create new post</h1>
<form action="{{ url_for('create_post') }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="post_title">Post title</label>
        <input type="text" name="post_title" id="post_title" placeholder="Chose a title">
    </div>
    <div class="form-group">
        <label for="tags_input">Tags (comma separated):</label>
        <input type="text" name="tags_input" id="tags_input" value="{{ post_tags if post_tags else ''}}" placeholder="Es. poertry, narrative, notes...">
        <textarea name="text_content" id="editor" rows="20" cols="80" placeholder="Start writing..."></textarea>
        <label for="post_picture">Image (opional)</label>
        <input type="file" id="post_picture" name="post_picture" accept="image/*">
        <a href="{{ url_for('gallery') }}" target="_blank">Open media gallery</a>
    <button type="submit" id="save">Publish</button>
    <button type="submit" class="btn btn-secondary" formaction="{{ url_for('preview_post' )}}" formtarget="_blank">Preview</button>
    </div>
    
</form>

</div>

{% endblock %}